.heading{
  height:100px;
  width:300px;
  text-align: center;
  border:2px solid black;
  margin-left: auto;
  margin-right: auto;
}
.image{
  height:250px;
  text-align: center;
  padding-top: 20px;
}
.div-search{
  border:2px solid black;
  width:300px;
  margin-left: auto;
  margin-right: auto;
  
}
.display{
  border:2px solid black;
  width:300px;
  margin-left: auto;
  margin-right: auto;
}

.row{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.input-city{
  height:30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
